// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #2b3499;
$secondary: #ff9209;
$info: #ff6c22;
$headings-font-family: "Permanent Marker", cursive;
$font-family-base: "Poppins", sans-serif;
@import "scss/bootstrap";
// Then add additional custom code here
.evan {
  display: block;
  color: red;
  text-decoration: none;
  font-family: "Pixelify Sans", cursive;
  animation: flashing 10s 2s both infinite;
  transition: 0.3s;
}

.nav-item a:hover {
  transition: 1s;
  filter: brightness(0.6);
}

.nav-item button:hover {
  transition: 1s ease-in-out;
  transform: rotate(360deg);
}

.dot {
  animation: blink 0.8s infinite;
}

.space-top {
  margin-top: 100px;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes flashing {
  0% {
    color: red;
  }

  25% {
    color: rgb(72, 72, 61);
  }

  50% {
    color: #04d9ff;
  }

  75% {
    color: #39ff14;
  }

  100% {
    color: red;
  }
}
@media (min-width: 1900px) {
  .container {
    max-width: 1900px !important;
  }
}
